<center>
<p id="notice"><%= notice %></p>



<br><br><br><br><br>

<% if @rsvp.going == true %>  
	<h1>Thank You <%= @rsvp.name %>!</h1>
	<h2>See you there!</h2><br>
    <h3> Save the date </h3>
      <% 
      		today = Time.now
      		wedding_day = Time.new(2013,8,19,11,37,0,"-06:00")
			days_left = Time.at(today)

			  %>

			  <p>Wedding day <%= wedding_day.strftime("%B %-d %Y ") %></p>
			  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{Location.first.latitude}%2C#{Location.first.longitude}" %>


			  
<% else %> 
	<h1>Thank You <%= @rsvp.name %>!</h1>
 	<h2>Let us know if you change your mind.</h2> 
 		<h3>hostsemail@email.com</h3>
 		<br>
 		<h3><%= link_to 'I made a mistake', edit_rsvp_path(@rsvp) %></h3>
<% end %>



</ul>



 

</center>